@font-face {
    font-family: 'Jeff Script';
    src: url('JeffScript.woff2') format('woff2'),
        url('JeffScript.woff') format('woff'),
        url('JeffScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

